@model GamerListMVC.Models.UserProfileViewModel

@{
	ViewBag.Title = "ProfileSettings";
}

<h2>Profile Settings</h2>
@ViewBag.Message

@using (Html.BeginForm("ProfileSettings", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">
			@Html.Label("Change email", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.Label("Change username", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.Label("Change profile image", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.TextBoxFor(model => model.ProfileImageFile, new { type = "file" })
				@Html.ValidationMessageFor(model => model.ProfileImageFile, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.Label("Change password", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.ActionLink("Change Password", "changepassword", "manage")
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Save" class="btn btn-default" />
			</div>
		</div>
	</div>
}

<div>
	@Html.ActionLink("Back to Profile Info", "profileinfo")
</div>
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
